In [20]:
import pandas as pd
import math

In [21]:
num=list(range(0,120))
qx=[(1-pow(math.e,(-0.00005*(pow(1.09,x))))) for x in num]
px=[1-x for x in qx]

In [29]:
lx=[100000]
dx=[100000*qx[0]]

for i in range(0,len(qx)-1):
    lx.append(lx[i]*px[i])
    dx.append(lx[i+1]*qx[i+1])
qx[119]=1
px[119]=0

Lx=[]
for i in range(0,120):
    Lx.append(lx[i]-(dx[i]*(1/2)))

mx=[]
for i in range(0,len(dx)):
    mx.append(dx[i]/Lx[i])

Tx=[]
for i in range(0,len(lx)):
    soma=0
    cont=0
    for a in range(i,len(lx)):
        if cont==0:
            soma+=lx[i]/2
        else: soma+=lx[i]
        cont+=1
    Tx.append(soma)

ex0=list(map(lambda x,y:x/y, Tx, lx))
ex=list(map(lambda x:x-1/2, ex0))

In [30]:
tabv={'x':num,'qx':qx,'Px':px,'lx':lx,'dx':dx, 'ex':ex ,'Lx':Lx, 'Tx':Tx, 'ex0':ex0}
tframe=pd.DataFrame(tabv)

In [31]:
tframe

,x,qx,Px,lx,dx,ex,Lx,Tx,ex0
0,0,0.000050,0.999950,100000.000000,4.999875,119.0,99997.500062,1.195000e+07,119.5
1,1,0.000054,0.999946,99995.000125,5.449579,118.0,99992.275335,1.184941e+07,118.5
2,2,0.000059,0.999941,99989.550546,5.939703,117.0,99986.580695,1.174877e+07,117.5
3,3,0.000065,0.999935,99983.610843,6.473874,116.0,99980.373906,1.164809e+07,116.5
4,4,0.000071,0.999929,99977.136969,7.056045,115.0,99973.608946,1.154736e+07,115.5
...,...,...,...,...,...,...,...,...,...
115,115,0.634676,0.365324,1.383901,0.878329,4.0,0.944737,6.227556e+00,4.5
116,116,0.666329,0.333671,0.505572,0.336877,3.0,0.337133,1.769501e+00,3.5
117,117,0.697714,0.302286,0.168695,0.117701,2.0,0.109844,4.217369e-01,2.5
118,118,0.728572,0.271428,0.050994,0.037153,1.0,0.032418,7.649099e-02,1.5
119,119,1.000000,0.000000,0.013841,0.013841,0.0,0.006921,6.920604e-03,0.5

In [ ]:
print(tframe.to_latex(index=False))

In [ ]:
print(tframe[:1].to_latex(index=False,multicolumn=False))

In [11]:
len(dx)

120